<h2 class="heading">Experience</h2>
<div id="experience-timeline">
  {{#each experiences as |experience|}}
    <div data-date="{{experience.startDate}} – {{experience.endDate}}">
      <h3>{{experience.company}}</h3>
      <h4>{{experience.position}}</h4>
      <p>
        {{experience.summary}}
      </p>
      <ul>
        {{#each experience.highlights as |highlight|}}
          <li>{{highlight}}</li>
        {{/each}}
      </ul>
    </div>
  {{/each}}
</div>
