<h2 class="heading">Projects</h2>
<div class="container">
  <div class="row">
    {{#each projects as |project index|}}
      <div class='project'>
        <div class='overlay'>
          <div class='overlay-element'></div>
          <img src={{project.img}}/>
        </div>
        <div class='header'>
          <div class='title'>
            {{project.name}}
          </div>
        </div>
        <div class='body'>
          <div class='primary'>
            {{project.tldr}}
          </div>
          <div class='details'>
            {{project.description}}
          </div>
          <div class='link'>
            <a class='cta' href={{project.url}} target='_blank' rel='noopener'>View Project</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
